body {

	background-size: cover;
    background-position: center center;
	font-family: helvetica;

}

/*Stuff below governs the start screen*/

.titleContent {
	margin: 10% auto;
    text-align: center;
}

.splashTitle {
	color: #8ae429;
    font-size: 5em;
    text-shadow: 1px 1px 5px rgba(27, 25, 25, 0.74);
}

.button {
	border: 5px solid #383838;
    color: #383838;
    padding: 20px 50px;
    font-size: 2em;
    text-decoration: none;
    background-color: #AFEEEE;
    box-shadow: 15px 15px 80px #555;
}
  a.button:hover {
    background-color: #383838;
    color: #AFEEEE;
  }



/*Stuff below governs the Explore screen*/

#exploreBody {
	background-position: bottom center;

}

#canvas{
    width:700px;
    height: 700px;
    background-color:  
}
